form{
  display: flex;
  flex-direction: column;
}
input{
  padding: 5px;
  border: none;
  border-bottom: 2px solid #eac445;
  background: none;
  margin-bottom: 50px;
  width: 70%;
  outline: none;
  color: white;
}
input:active{
  border: none;
  border-bottom: 2px solid #eac445;
  background: none;
}
button{
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #eac445;
  color: black;
  font-size: 0.9em;
  font-weight: bold;
}