#SobreNosotros{
  height: 100vh;
  background-color: black;
  color: white;
  user-select: none;
}
#SobreNosotros > h2{
  font-size: 5em;
  text-shadow: 10px 5px 2px #100e14;
  color: white;
  text-align: center;
  padding-top: 20px;
}
#tarjetas{
  display: flex;
  gap: 20px;
  height: 80%;
  padding: 40px;
}
#tarjetaPrincipal{
  width: 32%;
  height: 100%;
  background-color: #100e14;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#tarjetaPrincipal h2{
  font-size: 2.3em;
}
#tarjetas img{
  width: 32%;
  height: 100%;
}
#tarjetaPrincipal button{
  background-color: #eac445;
  color: black;
  padding: 8px 20px; 
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
}