#Modo{
  font-size: 2em;
  cursor: pointer;
  color: white;
}

@media (min-width: 1200px) { 

}

@media (min-width: 760px) and (max-width: 1199px) { 
}

@media (max-width: 767px) { 
  #Modo{
    font-size: 1.5em;
  }
}

@media (max-width: 576px){
  #Modo{
    display: none;
  }
}
