#contacto{
  font-size: 2em;
  cursor: pointer;
  color: white;
}
#contactame{
  color: white
}

@media (max-width: 767px) { 
  #Modo{
    font-size: 1.5em;
  }
}

@media (max-width: 576px){
  #Modo{
    display: none;
  }
}
