nav ul{
  display: flex;
  list-style: none;
}
nav ul li{
  padding: 0 1.2em;
  display: flex;
  white-space: nowrap;
  font-size: 1.5em;
  font-weight: 100;
}
nav ul li a{
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

nav ul li a:hover{
  color: #eac445;
}


@media (min-width: 1200px) { 
  #header{
    justify-content: space-around;
  }
}

@media (min-width: 760px) and (max-width: 1199px) { 
  nav ul li{
    font-size: 1.1em;
  }
}

@media (max-width: 760px) { 
  nav ul li{
    font-size: 0.8em;
  }
}

@media (max-width: 480px){ 
  nav ul li{
    font-size: 0.5em;
  }
}